@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary-500: #0a65cc;
  --color-primary-50: #e7f0fa;
}
